header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
  height: 80px;
}
.quantity {
  text-align: center;
}
.savings {
  text-align: center;
  color: red;
}

.underline {
  width: 50px;
  border: lightblue 1px solid;
  align-self: center;
}

.img {
  height: 100px;
}
.total {
  text-align: center;
}

.basketContainer {
  display: flex;
  justify-content: space-between;
}

button {
  align-self: center;
  width: 100px;
}
