header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.underline {
  width: 50px;
  border: lightblue 1px solid;
  align-self: center;
}

.img {
  width: 100px;
}

.selection {
  margin-left: 10%;
  margin-right: 10%;
}
