@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap");

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.underline {
  width: 50px;
  border: lightblue 1px solid;
  align-self: center;
}

/* Items Selections and buttons */
h2,
.quantity {
  font-family: "Roboto";
  text-align: center;
}
h3 {
  font-family: "Roboto";
  text-align: center;
  height: 80px;
}
button {
  align-self: center;
  width: 60px;
}

.img {
  height: 100px;
}

/*Shopping basket and total below*/
.savings {
  text-align: center;
  color: red;
}

.total {
  text-align: center;
}

.basketItem {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 8px;
}
